<app-header></app-header>
<section class="users-holder flex-j-a-center">
    <div class="user flex-j-a-center">
        <figure class="profile-picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL5UzYw8VaQbvtKpStN_w3PkI9RnqpgTBP5k0xG4loTQ&s" alt="username">
        </figure>
        <p class="username">Patrice Miahelo</p>
    </div>
    <div class="user flex-j-a-center">
        <figure class="profile-picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL5UzYw8VaQbvtKpStN_w3PkI9RnqpgTBP5k0xG4loTQ&s" alt="username">
        </figure>
        <p class="username">Patrice Miahelo</p>
    </div>
    <div class="user flex-j-a-center">
        <figure class="profile-picture">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL5UzYw8VaQbvtKpStN_w3PkI9RnqpgTBP5k0xG4loTQ&s" alt="username">
        </figure>
        <p class="username">Patrice Miahelo</p>
    </div>
</section>