header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    color: #e5e5e5;
    padding: 20px 0;
}

#search {
    padding: 10px;
    border-radius: 8px;
}

#search::placeholder {
    color: #161616
}

#search:active {
    border: 1px solid #161616;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

